@import './base.css';


.handle-top{
  background-color: green !important;
  color: green !important;
}

.handle-left{
  background-color: green !important;
  color: green !important;
}

.handle-right{
  background-color: red !important;
  color: red !important;
}

.handle-bottom{
  background-color: red !important;
  color: red !important;
}


.flow-container{
  width: 80%;
  height: 100%;
}


.sidebar{
  flex-direction: column; width:10vw; height: 100vh; background-color: gray;
}

.sidebar-button{
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.editor{
  width: 10%;
  height: 100%;
  background-color: gray;
}


#app {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: row;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    
  }
}
